updateList
updateDoNotCopyOverList
ErrorLogs/*
FitNesse
files
.svn
.DS_Store
desktop.ini
*.zip
PageFooter
PageHeader
RecentChanges
TemplateLibrary
/RecentChanges.wiki
/RerunLastFailures.wiki
/RerunLastFailures_TheRestTests-Storage-Archive.wiki
/RerunLastFailures_TheRestTests-CallThroughJavaCode-Storage-Archive.wiki
